<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created By WeihuaGu (email:weihuagu_work@163.com)
  ~ Copyright (c) 2017
  ~ All right reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weihuagu.com.lmessage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>